$primary: #7460ee;
mat-expansion-panel {
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.5) !important;
  border-radius: 5px !important;
  background-color: #323232;

  mat-panel-title {
    color: #fff;
  }

  div.mat-expansion-panel-content {
    background: #fff !important;
  }

  mat-list {
    width: 300px !important;
    overflow-y: scroll;
    max-height: 200px !important;
    overflow-x: hidden;
    margin: 0 5px;
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $primary;
      border-radius: 10px;
    }

    mat-list-item {
      margin: 10px 0;
      div {
        width: 190px;

        p {
          margin: 0;
          padding: 0 10px;
          text-align: center;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }

      display: flex;
      align-items: center;

      mat-icon.icon {
        font-size: 50px;
        height: 50px;
        width: 50px;
      }
    }
  }
}
