<div style="padding: 0px; height: 100%; box-sizing: border-box;">
    <mat-card style="height: 100%; box-sizing: border-box; padding:0">
        <file-explorer style=" height:-webkit-fill-available"
                       [fileElements]="fileElements | async"
                       [path]="currentPath"
                       [canNavigateUp]="canNavigateUp"
                       (folderAdded)="addFolder($event)"
                       (elementRemoved)="removeElement($event)"
                       (navigatedDown)="navigateToFolder($event)"
                       (navigatedUp)="navigateUp()"
                       (fileSelected)="upload($event)"
                       (downloadFile)="download($event)"
                       (viewFile)="view($event)"
                       (shareElement)="elementShared($event)"
                       (elementRenamed)="renameElement($event)"
                       (elementProps)="properties($event)"
                       (elementMoved)="moveElement($event)">
        </file-explorer>
    </mat-card>
</div>
