/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.mat-expansion-panel-body {
  padding: 0 !important;
}

.mat-expansion-panel:not(.mat-expanded):not([aria-disabled='true']) .mat-expansion-panel-header:hover {
  background: rgba(0, 0, 0, 0.87) !important;
}

.mat-drawer-content {
  height: unset !important;
}
.cdk-overlay-connected-position-bounding-box{
  margin-left: 60px;
  margin-top: -10px;
  margin-right: -60px;
}
