<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false" allowOverride="true">
    <system.webServer>
      <defaultDocument>
        <files>
          <add value="Default.asp"/>
        </files>
      </defaultDocument>
      <httpProtocol>
        <customHeaders>
          <add name="Access-Control-Allow-Methods" value="*" />
          <add name="Access-Control-Allow-Headers" value="accept, content-type, x-my-custom-header" />
        </customHeaders>
      </httpProtocol>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="2147483647" />
        </requestFiltering>
      </security>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" forwardWindowsAuthToken="false">      </aspNetCore>
    </system.webServer>
  </location>
</configuration>