<div class="container">
    <mat-toolbar color="primary">
        <span>Share With Me</span>
    </mat-toolbar>
    <mat-horizontal-stepper linear="true" #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Fill Username</ng-template>
                <mat-form-field>
                    <input matInput placeholder="Username" formControlName="username" required>
                </mat-form-field>
                <div>
                    <button mat-button (click)="getUser(stepper)">Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Fill email</ng-template>
                <p></p>
                <div style="margin: 5px 0">You have been registered with email {{email}} </div>
                <mat-form-field>
                    <mat-label>Please verify email</mat-label>
                    <input matInput id="email" formControlName="email" required>
                    <mat-hint>{{validEmail === false ? 'Verification failed' : ''}}</mat-hint>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="verifyEmail(stepper)">Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            Send new password
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="resetPassword()">Send</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>
