.container {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background: url('/assets/images/auth/resetPass.jpg') top center;

  mat-horizontal-stepper {
    @media only screen and (max-width: 720px) {
      margin: auto;
      padding: 10px;
    }
    width: 80%;
    max-width: 720px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    bottom: 0;
    min-width: 250px;
    height: fit-content;
    max-height: 260px;

    .mat-step-labe-l {
      @media only screen and (max-width: 720px) {
        display: none;
      }
    }
  }

  mat-hint {
    color: red !important;
  }
}
